body {
  font-family: "Source Sans Pro", sans-serif ! important;
  margin: 0 0 0 0;
}

#lookup {
  align-self: center;
  display: flex;
  justify-content: center;
}
#lookup {
  background-color: #ff6969;
  padding: 0.5em 0.25em 0.5em 0.25em;
  margin-bottom: 0.25em;
}
#lookup * {
  font-size: 1.25em;
}
#lookup .currency-input {
  width: 40vw;
  display: inline-flex;
}
#lookup .currency-input .currency-symbol {
  margin-top: 0.1em;
}
#lookup .currency-input input {
  width: 98%;
}
#items {
  width: 100% ! important;
}
#welcome, #disclosure {
  margin: 0 auto 3vw auto;
  text-align: center;
}
#welcome {
  width: 40vw;
}
#disclosure {
  font-size: 70%;
}
#affiliate-toggle {
  cursor: pointer;
  color: brown;
}

@media (max-width: 800px) {
  #lookup .currency-input {
    width: 100%;
    display: inline-flex;
  }
  #lookup * {
    font-size: calc(0.75em + 1vw);
  }
  #welcome, #disclosure {
    width: 75%;
  }
}