body {
  font-family: "Source Sans Pro", sans-serif ! important;
  margin: 0 0 0 0;
}

#lookup {
  align-self: center;
  display: flex;
  justify-content: center;
}
#lookup {
  background-color: #ff6969;
  padding: 0.5em 0.25em 0.5em 0.25em;
  margin-bottom: 0.25em;
}
#lookup * {
  font-size: 1.25em;
}
#lookup input[type=number] {
  width: 40vw;
}
#items {
  width: 100% ! important;
}
#welcome, #disclosure {
  margin: 0 auto 3vw auto;
  text-align: center;
}
#welcome {
  width: 40vw;
}
#disclosure {
  font-size: 70%;
}
#affiliate-toggle {
  cursor: pointer;
  color: brown;
}

@media (max-width: 640px) {
  #lookup input[type=number] {
    width: 100%;
  }
  #lookup * {
    font-size: calc(0.75em + 1vw);
  }
  #welcome, #disclosure {
    width: 75%;
  }
}